@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

//colors
$white: #ffffff;
$cyan: #63e1d9;
$black: #000000;
$introBG: #1b2330;
$commentBG: #202a3c;
$mainBG: #181f2b;
$footerBG: #0b1524;
$lightBlue: #34a0cd;
$offWhite: #dfe4f0;
$blue: #07043b;
$red: #ff4242;

//fonts
$openSans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;
