//colors
$white: #ffffff;
$cyan: #62e0d9;
$black: #000000;
$darkBlueOne: #1b2330;
$darkBlueTwo: #202a3c;
$darkBlueThree: #181f2b;
$darkBlueFour: #0b1524;
$lightBlue: #8adae3;
$offWhite: #dfe4f0;
$blue: #07043b;
$red: #ff4242;
