@import "../../../Variables/Sass.scss";

.links-container {
  margin-top: 8px;
  ul {
    list-style: none;
    margin-top: 48px;
    padding: 0;

    li {
      margin: 8px;
      a {
        color: $white;
        font-weight: 400;
        text-decoration: none;
        transition: font-weight 750ms linear;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
