@import "../../Variables/Sass.scss";

.intro-container {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 48px;
  position: relative;
  width: 100%;

  .intro-content {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 32px;
    text-align: center;
    width: 296px;
    z-index: 1;
  }

  .intro-img {
    height: 225px;
    width: 304px;
  }

  .intro-title {
    font-family: $raleway;
    font-size: 24px;
    margin-top: 33px;
    position: relative;
    text-align: center;
    width: 320px;
    z-index: 1;

    &::after {
      content: "";
      background-color: $mainBG;
      bottom: 0;
      height: 281px;
      left: -28px;
      position: absolute;
      top: 79%;
      width: 375px;
      z-index: -1;
    }
  }
}

@media (min-width: 1440px) {
  .intro-container {
    .intro-content {
      font-size: 20px;
      height: 90px;
      width: 589px;
    }

    .intro-img {
      height: 534px;
      width: 720px;
    }

    .intro-title {
      font-size: 40px;
      font-weight: 700px;
      height: 120px;
      width: 734px;

      &::after {
        height: 0;
        width: 0;
      }
    }
  }
}
