@import "./Variables/Sass.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $openSans;
  margin: 0;
  padding: 0;
}

.App {
  background-color: $introBG;
  height: fit-content;
  position: relative;
  width: 375px;

  .mobile-bg {
    height: 141px;
    left: 0;
    position: absolute;
    top: 10.5%;
    width: 375px;
  }
}
